.NewsTitle {

  color: var(--fg-apg-blue);
  font-size: 20px;
  font-family: 'main-text-bold', sans-serif;
  padding: 20px 0;
  margin-top: 20px;
  border-top: 1px solid var(--bg-apg-blue-light-40);

  // XS - Phone
  @media (max-width: 480px) {

  }

  // S - Tablet
  @media (max-width: 768px) {

  }

  // M - Tablet/Laptop
  @media (max-width: 1024px) {

  }

  // L - High Res
  @media (max-width: 1200px) {

  }

  // XL - Ultra High Res
  @media (min-width: 1201px) {

  }

}